# Backend
backend/db.sqlite3
backend/e2e.sqlite3
backend/staticfiles/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/venv/
backend/.env
backend/.env.*

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*

# OS
.DS_Store

# Project checkpoints
*.zip

# Logs
*.log

# Test artifacts
frontend/playwright-report/
frontend/test-results/
